PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://auwaluizziddin2212_db_user:Ls85omrXQhXwOdR8@ac-u2nydgg-shard-00-00.s0vuvfg.mongodb.net:27017,ac-u2nydgg-shard-00-01.s0vuvfg.mongodb.net:27017,ac-u2nydgg-shard-00-02.s0vuvfg.mongodb.net:27017/?ssl=true&replicaSet=atlas-k823yx-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=ddnnbeqti
CLOUDINARY_API_KEY=162732959445434
CLOUDINARY_API_SECRET=TRVdUc-oc6ByW0vcF-W9b_s99VA
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
CLIENT_URL=http://localhost:5173
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=100
